body {
  background-color:aliceblue;
}

img {
  border-radius: 50%;
}

h1 {
  color: #008B8B;
}

h2 {
  color: #DEB887;
}

h3 {
  color: lightsalmon; 
}

h4 {
  color: lightgreen;
}

h5 {
  font-weight: normal;
  text-align: center;
}


ul { 
  color: #483DB8; 
}




